:root {
  --skin-color: #d59729;
  --bg-color: #313654;
  --border-color: #000;
  --mouth-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

/* 전체 영역 잡기 */
.ryan {
  position: relative;
  margin: 50px auto;
  width: 400px;
  height: 380px;
}

/* 전체 영역에서 밑에 딱 붙은 얼굴(원)을 그린다. */
.ryan .face {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 367px;
  border-radius: 50%;
  border: 10px solid var(--border-color);
  background: var(--skin-color);
  z-index: -99;
}

/* 귀 */
.ryan .ear {
  position: absolute;
  top: 0;
  width: 92px;
  height: 92px;
  border: 10px solid var(--border-color);
  border-radius: 50%;
  background-color: var(--skin-color);
  z-index: -999;
}

.ryan .ear.left {
  left: 54px;
}

.ryan .ear.right {
  right: 54px;
}

/* 눈썹 */
.ryan .eyebrow {
  position: absolute;
  top: 106px;
  width: 78px;
  height: 14px;
  border-radius: 14px;
  background: var(--border-color);
  transition: all 0.2s;
}

.ryan .eyebrow.left {
  left: 68px;
}

.ryan .eyebrow.right {
  right: 68px;
}

/* 눈 */
.ryan .eye {
  position: absolute;
  top: 147px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--border-color);
  transition: all 0.2s;
}

.ryan .eye.left {
  left: 98px;
}

.ryan .eye.right {
  right: 98px;
}

/* 코 */
.ryan .nose {
  position: absolute;
  top: 184px;
  left: 50%;
  width: 32px;
  height: 33px;
  margin-left: -16px;
  border-radius: 100%;
  background: var(--border-color);
  z-index: 999;
}

/* 입 */
.ryan .mouth {
  position: absolute;
  top: 191px;
  right: 73px;
  width: 73px;
  height: 68px;
  border: 10px solid var(--border-color);
  border-radius: 50%;
  background: var(--mouth-color);
}

.ryan .mouth.left {
  left: 127px;
}

.ryan .mouth.right {
  right: 127px;
}

.ryan .mouth::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 33px;
  background: var(--mouth-color);
  transform: rotate(-45deg);
  z-index: 99;
}

.ryan .mouth.left::before {
  top: 2px;
  left: 29px;
}

.ryan .mouth.right::before {
  top: 2px;
  right: 31px;
}

/* 변화 요소 */
.ryan:hover .open {
  width: 73px;
  height: 68px;
  background-color: coral;
  border: 10px solid #000;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 235px;
  left: 155px;
  z-index: -900;
}

.ryan:hover .open:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 30px;
  top: 8px;
  left: 23px;
  border-radius: 50%;
  background-color: rgba(105, 105, 105, 0.3);
}

.ryan:hover .eyebrow.left {
  top: 100px;
}

.ryan:hover .eyebrow.right {
  transform: rotate(-10deg);
}

.ryan:hover .eye.right {
  transform: scale(2, 0.1);
}
