*,
*:after,
*:before {
  /* padding이나 border-width로 인해 전체 사이즈에 영향을 받지 않도록 선언해 줍니다. */
  box-sizing: border-box;
}

body {
  background-color: #313654;
}

/* 전체 영역 잡아주기 */
.ryan {
  position: relative; /* 라이언 기준점 잡기 */
  margin: 50px auto; /* 상하 50px 여백을 주고 좌우는 중앙 정렬 */
  width: 400px;
  height: 380px;
}

/* 전체 영역에서 밑에 딱 붙은 얼굴(원)를 그립니다. */
.ryan .face {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 367px;
  border-radius: 100%; /* 원형으로 만들기 */
  border: 10px solid #000;
  background: #d59729;
  z-index: -800;
}

/* 귀 */
.ryan .ear {
  position: absolute;
  top: 0;
  width: 92px;
  height: 92px;
  border: 10px solid #000;
  border-radius: 100%;
  background-color: #d59729;
  z-index: -999;
}

.ryan .ear.left {
  left: 54px;
}

.ryan .ear.right {
  right: 54px;
}

/* 눈썹 */
.ryan .eyebrow {
  position: absolute;
  top: 106px;
  width: 78px;
  height: 14px;
  border-radius: 14px;
  background: #000;
  transition: all 0.2s;
}

.ryan .eyebrow.left {
  left: 68px;
}

.ryan .eyebrow.right {
  right: 68px;
}

/* 눈 */
.ryan .eye {
  position: absolute;
  top: 147px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #000;
  transition: all 0.2s;
}

.ryan .eye.left {
  left: 98px;
}

.ryan .eye.right {
  right: 98px;
}

/* 코 */
.ryan .nose {
  position: absolute;
  top: 184px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 33px;
  border-radius: 100%;
  background: #000;
  z-index: 999; /* z-index로 입보다 코가 위로 올라오도록 합니다. */
}

/* 입 */
.ryan .mouth {
  position: absolute;
  top: 191px;
  right: 73px;
  width: 73px;
  height: 68px;
  border: 10px solid #000;
  border-radius: 50%;
  background: #fff;
}
.ryan .mouth.left {
  left: 127px;
}

.ryan .mouth.right {
  right: 127px;
}

/* 이 아래 부분은 생략하셔도 괜찮습니다. */
/* :before, :after 가상요소를 활용하여 입 부분을 좀 더 완성도 있게 만들어 주었습니다. */
.ryan .mouth:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 33px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 99;
}

.ryan .mouth.left:before {
  top: 2px;
  left: 29px;
}

.ryan .mouth.right:before {
  top: 2px;
  right: 31px;
}

.ryan:hover .open {
  width: 73px;
  height: 68px;
  background-color: coral;
  border: 10px solid #000;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 235px;
  left: 155px;
  z-index: -900;
}

.ryan:hover .open:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 30px;
  top: 8px;
  left: 23px;
  border-radius: 50%;
  background-color: rgba(105, 105, 105, 0.3);
}

/* .ryan에 hove(마우스오버) 했을 때 변화를 적어줍니다. */

/* 왼쪽 눈썹이 내려갑니다.(106px->100px) */
.ryan:hover .eyebrow.left {
  top: 100px;
}

/* 오른쪽 눈썹이 -10deg 움직입니다. */
.ryan:hover .eyebrow.right {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* 오른쪽 눈 크기가 가로는 2배 세로는 0.1배로 변합니다. */
.ryan:hover .eye.right {
  -webkit-transform: scale(2, 0.1);
  transform: scale(2, 0.1);
}
